.header {
  height: 80px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    width: 70px;
    img {
      width: 100%;
      display: block;
    }
  }
}
